@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(55, 69, 88, 0.7); 
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }